table {
    width: 50%;
    /* Ширина таблицы */
    border-collapse: collapse;
    background: #B6DEC2;
    /* Цвет фона таблицы */
    margin: 30px auto;
}

th,
td {
    border: 2px solid #fff;
    /* Параметры рамки */
    padding: 7px;
    /* Поля в ячейках */
}