   .jewel {
    max-width: 1200px;
    width: 50%; /* Ширина таблицы */
    margin: auto; /* Выравниваем по центру */
    border-collapse: collapse;
   }
   .jewel td {
    border: 2px solid #000; /* Рамка вокруг ячеек */
   }
   .jewel td:nth-child(3) {
    text-align: center; /* Выравнивание по центру */
   }