@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

.wrapper{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.cart-block{
  padding-top: 100px;
}

.cart{
  background: coral;
 /* background-color: coral;*/
 /* width: 30%;*/
  width: 370px;
 /* min-height: 500px;*/
 /* max-height: 200px;*/
  border: 2px solid #E2E2E2;
  /*border: 2px dashed silver;*/
  border-radius: 10px;
  /*border-radius: 12%;*/
  border-radius: 10px 10px 0 0;
  /*opacity: 0.5;*/
  margin: 0 auto;
/*  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;*/
  padding: 20px 25px;
  /*overflow: hidden;
  overflow: scroll;
  overflow: auto;

  overflow-y: scroll;
  overflow-x: scroll;*/
}

.cart__text{
  height: 150px;
  overflow-y: scroll;
}

.cart__btn{
  display: block;
  width: 100px;
  padding: 10px;
  color: white;
  border: 1px solid white;
  margin: 10px 0 0 auto;
  text-align: center;
  border-radius: 5px;
}

.cart h2{
  color: rgb(255, 255, 255);
  color: white;
  color: #FFF;
  margin-bottom: 15px;
  /*margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin: 15px;
  margin: 15px 20px 15px 20px;
  margin: 15px 20px;
  margin: 15px 20px 20px;*/
  text-align: center;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
}

.cart p{
  color: rgba(78, 78 ,167 , .8);
  text-align: justify;
  margin-bottom: 10px;
}

.list{
  background: green;
  margin-top: 100px;
  padding: 20px 0;
}

.list__el{
  width: 370px;
  color: white;
  border: 1px solid silver;
  margin: 10px;
}

.list__el--inline{
  display: inline-block;
}

.list__el-first{
  margin-bottom: 30px;
}

.list__el--block{
  display: block;
}